# Solana
VITE_SOLANA_RPC_URL=http://localhost:8899

# Swig Developer Portal
VITE_SWIG_PORTAL_URL=https://dashboard.onswig.com
VITE_SWIG_API_KEY=your-api-key-here
VITE_SWIG_POLICY_ID=your-policy-id-here

# Swig Paymaster
VITE_SWIG_PAYMASTER_PUBKEY=your-paymaster-pubkey-here
VITE_SWIG_PAYMASTER_URL=http://localhost:3000
VITE_SWIG_PAYMASTER_NETWORK=devnet
